version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: my_postgres
    environment:
      POSTGRES_USER: uzytkownik
      POSTGRES_PASSWORD: haslo123
      POSTGRES_DB: baza_postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: